<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active">Caja</li>
    </ul>
</div>
<div class="page-content">
    <div class="row" style="margin-left: 5px;!important;">
        <div class="col col-lg-12">
            <div style="margin-top: 30px; !important;" class="panel panel-default">
                <div class="panel-heading">
                    <div class="row" style="padding-right: 30px;">
                        <form ng-submit="doUserSearch(filter)">
                            <div class="col col-md-2"></div>
                            <div class="form-group col-md-3 form-group-sm" >
                                <label class="control-label">Desde</label>
                                <datepicker date-format="dd-MM-yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-model="filter.startDate"
                                               ng-init="filter.startDate = newDate()"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" >
                                <label class="control-label">Hasta</label>
                                <datepicker date-format="dd-MM-yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-model="filter.endDate"
                                               ng-init="filter.endDate = newDate()"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                    </div>
                                </datepicker>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Usuario
                                    <span style="color:red;">*</span></label>
                                <select ng-model="filter.user"
                                        ng-options="user.id as user.username for user in allUser"
                                        class="form-control" required>
                                    <option></option>
                                </select>
                            </div>
                            <div class="col col-md-1">
                                <div class="btn-group" style="width: 130px;!important;" >
                                    <button style="margin-top: 24px; width: 20px;!important; text-align: center;" type="button" ng-click="reinitComponents()" type="button" class="btn btn-danger"><i style="margin-left: -5px;!important;" class="fa fa-times fa-1x"></i></button>
                                    <button style="margin-top: 24px; width: 80px;!important; text-align: center;" class="btn btn-primary"><i class="fa fa-search fa-1x"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="login-box" class="login-box visible widget-box no-border">
                        <div class="widget-body">
                            <div id="gridForDash" ui-grid="gridOptions" ui-grid-infinite-scroll class="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
<!-- /.page-content -->