<!--<script invRegType="text/javascript" src="scripts/app.js"></script>-->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Reclamaciones</li>
    </ul>
</div>


<div class="row" style="padding-top: 30px">

    <div class="col col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registro de Reclamaciones</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="claim" >
                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Reclamo No.
                                    <span style="color:red;"></span></label>
                                <input ng-disabled="claimViewMode"
                                       name="documentId"
                                       ng-style="claimNumberStyle"
                                       ng-blur="validateClaimNumber(claim.documentNo)"
                                       ng-model="claim.documentNo"
                                       class="form-control"
                                       placeholder="Numero de Reclamo" />
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Creacion</label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="claimViewMode"
                                               ng-model="claim.createDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div  class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Ajustadores
                                    <span style="color:red;"></span></label>
                                <input ng-disabled="claimViewMode"
                                       id="adjust" name="amount"
                                       ng-model="claim.adjust"
                                       type="text" ng-minlength = "0"
                                       ng-maxlength = "20"
                                       class="form-control"
                                       placeholder="Ajustadores" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Taller
                                    <span style="color:red;"></span></label>
                                <input ng-disabled="claimViewMode"
                                       id="mechanic" name="mechanic"
                                       ng-model="claim.mechanic"
                                       type="text" ng-minlength = "0"
                                       ng-maxlength = "20"
                                       class="form-control"
                                       placeholder="Taller" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm">
                                <label class="control-label">Cliente</label>
                                <angucomplete-alt id="claimClient"
                                                  placeholder="Nombre de Cliente"
                                                  pause="100"
                                                  selected-object="claim.client"
                                                  local-data="clientList"
                                                  search-fields="fullName,idCard"
                                                  title-field="fullName"
                                                  minlength="1"
                                                  disable-input="claimViewMode"
                                                  input-class="form-control form-control-small">
                                </angucomplete-alt>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Poliza
                                    <span style="color:red;">*</span></label>
                                <select ng-disabled="claimViewMode" ng-model="claim.policy"
                                        ng-options="policy.policyId as policy.policyNumber for policy in updatedLinkedPolicies"
                                        name="claimPolicy"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" >
                                <label class="control-label">Entidad Aseguradora</label>
                                <select ng-disabled="claimViewMode" style="text-transform: uppercase; !important;" ng-model="claim.policer" ng-options="policer.id as policer.name for policer in policers"
                                        name="policer" id="policer"
                                        class="form-control">
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 form-group-sm" show-errors="">
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="claimViewMode"
                                          rows="2" style="resize: none;"
                                          id="notas" name="notas"
                                          ng-model="claim.notes"
                                          placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="pull-right" >
                            <button type="button" ng-disabled="!claimViewMode" class="btn btn-default" ng-click="claimViewMode=false"><i class="fa fa-edit"></i> Modificar</button>
                            <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button type="submit" ng-disabled="claim.$invalid || disableClaimForm" ng-click="saveClaim(claim);" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-sm-12">
                        <h2>Lista de Facturas</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div style="height: 269px;" ui-grid="gridOptions_claim" class="grid pointer"></div>
            </div>
        </div>
    </div>
</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
