<!--<script invRegType="text/javascript" src="scripts/app.js"></script>-->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Entradas / Compañia</li>
    </ul>
</div>


<div class="row" style="padding-top: 30px">

    <div class="col col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Entrada de Compañias aseguradoras</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="company" autocomplete="off" >
                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Nombre
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="companyViewMode" name="name"
                                       ng-model="company.name"
                                       type="text"
                                       class="form-control"
                                       ng-required="true"
                                       placeholder="Nombre de Compañia" />
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Codigo</label>
                                <input ng-disabled="companyViewMode" name="code"
                                       ng-model="company.code"
                                       type="text"
                                       class="form-control"
                                       placeholder="Codigo de la Compañia" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" > Contacto Ejecutivo</label>
                                <input ng-disabled="companyViewMode" name="contact"
                                       ng-model="company.contact"
                                       type="text"
                                       class="form-control"
                                       placeholder="Contacto Compañia" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label">Telefono Contacto</label>
                                <input ng-disabled="companyViewMode" id="phoneNumber" name="phoneNumber"
                                       ng-model="company.phoneNumber"
                                       type="text"
                                       ui-mask="(999) 999-9999 Ext.?9?9?9?9"
                                       class="form-control"/>
                                <label style="color:red; font-size: 12px;"
                                       ng-show = "((company.phone.$error.minlength
                                                  || company.phone.$error.maxlength)
                                                    && company.phone.$dirty)">
                                    Debe ser un numero de 10 digitos</label>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col col-sm-6">
                                <h3>Lista de Telefonos</h3>
                                <div id="phoneList" ui-grid="gridOptions_phoneList" class="grid company-attributes pointer"></div>
                                <div class="col col-sm-3 pull-left" style="padding-top: 10px; padding-left: 0%">
                                    <button type="button" ng-click="cleaner();"  data-target="#phoneModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="btn btn-default btn-sm btn-block"><i class="fa fa-plus"></i> Agregar</button>
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <h3>Lista de Cuentas Bancarias</h3>
                                <div id="bankAccountList" ui-grid="gridOptions_bankAccountList" class="grid company-attributes pointer"></div>
                                <div class="col col-sm-3 pull-left" style="padding-top: 10px; padding-left: 0%">
                                    <button type="button" ng-click="cleaner();"  data-target="#bankAccountModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="btn btn-default btn-sm btn-block"><i class="fa fa-plus"></i> Agregar</button>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right" style="margin-top: 30px" >
                            <button type="button" ng-disabled="!companyViewMode" class="btn btn-default" ng-click="companyViewMode=false"><i class="fa fa-edit"></i> Modificar</button>
                            <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button type="submit" ng-disabled="company.$invalid" ng-click="createNewCompany(company);" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div id="gridforcompanies" ui-grid="gridOptions_company" class="grid pointer"></div>
    </div>
</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>

<div ng-include="'partials/modals/phoneModal.html'"></div>
<div ng-include="'partials/modals/bankAccountModal.html'"></div>
