<!--<script invRegType="text/javascript" src="scripts/app.js"></script>-->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Movimientos / Creditos</li>
    </ul>
</div>


<div class="row" style="padding-top: 30px">

    <div class="col col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registro de Disminucion Poliza</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="credit" >
                        <div class="row">

                            <div class="form-group form-group-sm col-md-3">
                                <label class="control-label">Tipo de Credito</label>
                                <select ng-disabled="creditViewMode" ng-model="credit.type" ng-options="type.index as type.name for type in creditTypes"
                                        name="type" id="type"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Documento No.
                                    <span style="color:red;"></span></label>
                                <input ng-disabled="creditViewMode" name="documentId"
                                       ng-model="credit.documentNo"
                                       ng-blur="validateCreditNumber(credit.documentNo)"
                                       ng-style="creditNumberStyle"class="form-control"
                                       placeholder="Documento No." />
                            </div>

                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Entrada
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input disabled="disabled"
                                               ng-init="credit.startDate = newDate(credit.startDate);"
                                               ng-model="credit.startDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Emision
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="creditViewMode" ng-init="credit.endDate = newDate(credit.endDate);"
                                               ng-model="credit.endDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Cliente
                                    <span style="color:red;">*</span></label>
                                <angucomplete-alt id="creditClient"
                                                  placeholder="Nombre de Cliente"
                                                  pause="100"
                                                  selected-object="credit.client"
                                                  local-data="clientList"
                                                  search-fields="fullName,idCard"
                                                  title-field="fullName"
                                                  disable-input="creditViewMode"
                                                  minlength="1"
                                                  input-class="form-control form-control-small">
                                </angucomplete-alt>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Poliza
                                    <span style="color:red;">*</span></label>
                                <select ng-disabled="creditViewMode" ng-model="credit.policy"
                                        ng-change="updateInvoiceList(credit.policy)"
                                        ng-options="policy.policyId as policy.policyNumber for policy in updatedLinkedPolicies"
                                        ng-required="true"
                                        class="form-control">
                                </select>
                            </div>


                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Inicio
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="creditViewMode" ng-init="credit.beginningDate = newDate(credit.beginningDate);"
                                               ng-model="credit.beginningDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Vencimiento
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="creditViewMode" ng-init="credit.dueDate = nextYearToday(credit.dueDate);"
                                               ng-model="credit.dueDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm">
                                <label class="control-label" >Factura No.
                                    <span style="color:red;"></span></label>
                                <select ng-disabled="creditViewMode" ng-model="credit.invoiceNumber"
                                        ng-options="invoiceNumber.invoiceId as invoiceNumber.invoiceNumber for invoiceNumber in updatedLinkedInvoiceNumber"
                                        ng-change="lookForTotalAmountCredit(credit.invoiceNumber)"
                                        class="form-control">
                                </select>
                            </div>
                                <div class="form-group col-md-3 form-group-sm" show-errors>
                                    <label class="control-label" >Monto
                                        <span style="color:red;"></span></label>
                                    <input id="amount" name="amount"
                                           ng-disabled="creditEditMode || creditViewMode"
                                           ng-model="credit.amount"
                                           type="text"
                                           ui-money-mask="2"
                                           class="form-control" />
                                </div>
                                <div class="form-group col-md-3 form-group-sm" show-errors>
                                    <label class="control-label" >Prima
                                        <span style="color:red;"></span></label>
                                    <input ng-disabled="creditViewMode" id="prime" name="amount"
                                           disabled="disabled"
                                           ng-model="credit.prime"
                                           type="text"
                                           ui-money-mask="2"
                                           class="form-control" />
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Concepto</label>
                                <textarea ng-disabled="creditViewMode" rows="2" style="resize: none;" id="concept" name="notas"
                                          ng-model="credit.concept" placeholder="Concepto"
                                          class="form-control"></textarea>
                            </div>
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="creditViewMode"
                                          rows="2"
                                          style="resize: none;"
                                          id="notas" name="notas"
                                          ng-model="credit.notes"
                                          placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="pull-right" >
                            <button type="button" ng-disabled="!creditViewMode" class="btn btn-default" ng-click="creditViewMode=false"><i class="fa fa-edit"></i> Modificar</button>
                            <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button type="submit" ng-disabled="credit.$invalid || disableCreditForm" ng-click="saveCredit(credit);" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-sm-12">
                        <h2>Lista de Disminuciones</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="gridForReceipt" ui-grid="gridOptions_credit" class="grid pointer"></div>
            </div>
        </div>
    </div>
</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="movSpinner"></span>
