
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active">Estados de cuentas</li>
    </ul>
</div>
<div class="page-content" style="margin-top: 50px;">
    <div class="row">
        <div class="col col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-md-6">
                            <h2>Estado de Cuenta Actual</h2>
                        </div>
                        <div class="col-md-3">
                            <h2 class="pull-right">Cliente</h2>
                        </div>
                        <div class="form-group col-md-3 form-group-sm">
                            <label class="control-label"></label>
                            <angucomplete-alt id="clientName"
                                              placeholder="Nombre/cedula"
                                              pause="100"
                                              selected-object="currentClientToFilter"
                                              local-data="clientList"
                                              search-fields="fullName,idCard"
                                              title-field="fullName"
                                              minlength="1"
                                              required="required"
                                              ng-required="true"
                                              input-class="form-control form-control-small">
                            </angucomplete-alt>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <table id="table"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <!--<button  ng-click="pdfExport()" style="background-color: transparent; border: hidden;" type="submit"><i class="fa fa-print fa-2x" aria-hidden="true"></i></button>-->
                    <!--<button type="button" ng-click="pdfExport()">print</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
<!-- /.page-content -->