<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active">Dashboard</li>
    </ul>
</div>
<div class="page-content">
    <div class="row" style="margin-left: 5px;!important;">
        <div class="col col-sm-8">
                    <div style="margin-top: 30px; !important;" class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-md-4">
                                    <h1>Lista de Polizas</h1>
                                </div>
                                <div class="col col-md-8">
                                    <div class="col col-md-2">
                                        <!--<h3 class="pull-right"> <u>Filtro:</u></h3>-->
                                    </div>
                                    <div style="padding-right: 0%; !important;" class="form-group col-md-4 form-group-sm">
                                        <input style="margin-top: 20px; !important;" id="criteria"
                                               name="criteria"
                                               ng-model="search.searchObject"
                                               ui-mask="{{filterMask}}"
                                               type="text" maxlength="30"
                                               ui-mask-placeholder
                                               ui-mask-placeholder-char="_"
                                               class="form-control"/>
                                    </div>
                                    <div class="form-group form-group-sm col-md-4">
                                        <select ng-model="search.criteria"
                                                ng-init="search.criteria = criterias[0].index"
                                                ng-change="changeMask(search.criteria);"
                                                ng-options="criteria.index as criteria.name for criteria in criterias"
                                                name="payment" id="payment" style="margin-top: 20px; !important;"
                                                class="form-control">
                                        </select>
                                    </div>
                                    <div class="col col-md-2 pull-right">
                                        <button style="margin-top: 20px; !important;" type="submit" ng-click="filteringBy(search);" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div id="gridForDash" ui-grid="gridOptions_dash" ui-grid-infinite-scroll class="grid"></div>
                                </div>
                            </div>
                        </div>
                    <div class="panel-footer">

                        <div class="row">

                            <form ng-submit="pdfExport()">
                                <div style="padding-top: 8px; text-align: center;" class="col-md-1">
                                    <small>Imprimir</small>
                                    <button style="background-color: transparent; border: hidden;" type="submit"><i class="fa fa-print fa-2x" aria-hidden="true"></i></button>
                                </div>

                                <div class="form-group col-md-3 form-group-sm" >
                                    <label class="control-label">Desde</label>
                                    <datepicker date-format="dd-MM-yyyy" selector="form-control">
                                        <div class="input-group">
                                            <input ng-model="filter.startDate"
                                                   ng-required="true"
                                                   class="form-control"
                                                   placeholder="Elija una fecha"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                        </div>
                                    </datepicker>
                                </div>

                                <div class="form-group col-md-3 form-group-sm" >
                                    <label class="control-label">Hasta</label>
                                    <datepicker date-format="dd-MM-yyyy" selector="form-control">
                                        <div class="input-group">
                                            <input ng-model="filter.endDate"
                                                   ng-required="true"
                                                   class="form-control"
                                                   placeholder="Elija una fecha"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                        </div>
                                    </datepicker>
                                </div>
                                <div class="form-group col-md-3 form-group-sm" >
                                    <label class="control-label">Entidad Aseguradora</label>
                                    <select style="text-transform: uppercase;" ng-model="filter.enterprise" ng-options="enterprise.id as enterprise.name for enterprise in policers | uppercase"
                                            ng-required="true"
                                            required
                                            name="policer" id="policer"
                                            class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col col-md-2">
                                    <div class="btn-group" style="width: 130px;!important;">
                                        <button style="margin-top: 24px; width: 20px;!important; text-align: center;" type="button" ng-click="removeFilter();" type="button" class="btn btn-danger"><i style="margin-left: -5px;!important;" class="fa fa-times fa-1x"></i></button>
                                        <button style="margin-top: 24px; width: 80px;!important; text-align: center;" type="button"  type="button" ng-click="filtering(filter);" class="btn btn-primary"><i class="fa fa-search fa-1x"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col col-sm-4">
                <div style="margin-top: 30px; !important;" class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-md-12">
                                <h1>Lista de Facturas</h1>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div id="gridForInvoiceDash" ui-grid-infinite-scroll ui-grid="gridOptions_invoice" class="grid pointer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>

                </div>
            </div>
    </div>
</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
<!-- /.page-content -->