<!--<script type="text/javascript" src="scripts/app.js"></script>-->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Seguro de Salud</li>
    </ul>
</div>

<div class="row" style="padding-top: 30px">

    <div class="col col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registro Seguros de Salud</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="newPolicyForm" ng-submit="doSavePolicy(policy);" >
                        <div class="col col-lg-12">
                            <div class="row">
                                <div class="form-group col-md-3 form-group-sm">
                                    <label class="control-label">Afiliado
                                        <span style="color:red;">*</span></label>
                                    <angucomplete-alt id="clientName"
                                                      disable-input="policyViewMode"
                                                      placeholder="Nombre de Afiliado"
                                                      pause="100"
                                                      selected-object="policy.client"
                                                      local-data="clientList"
                                                      search-fields="fullName,idCard"
                                                      title-field="fullName"
                                                      minlength="1"
                                                      input-class="form-control form-control-small">
                                    </angucomplete-alt>
                                </div>
                                <div class="form-group col-md-3 form-group-sm" show-errors>
                                    <label class="control-label" for="policyNumber">Numero De Contrato</label>
                                    <input ng-disabled="policyViewMode" id="policyNumber" name="policyNumber"
                                           ng-style="policyNumberStyle"
                                           ng-model="policy.policyNumber"
                                           ng-blur="validatePolicyNumber(policy.policyNumber)"
                                           placeholder="Ingrese Numero de Contrato" class="form-control"/>
                                </div>

                                <div class="form-group col-md-3 form-group-sm" >
                                    <label class="control-label">Entidad Aseguradora</label>
                                    <span style="color:red;">*</span>
                                    <select ng-disabled="policyViewMode" style="text-transform: uppercase; !important;" ng-model="policy.policer"
                                            ng-options="policer.id as policer.name for policer in policers"
                                            name="policer" id="policer"
                                            class="form-control">
                                    </select>
                                </div>
                                <div class="form-group col-md-3 form-group-sm" show-errors>
                                    <label class="control-label" >Prima Total
                                        <span style="color:red;"></span></label>
                                    <input ng-disabled="policyViewMode" id="primePolicyForm" name="prime"
                                           ui-money-mask="2"
                                           ng-model="policy.prime"
                                           class="form-control"/>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-md-3 form-group-sm" show-errors>
                                        <label class="control-label">Moneda</label>
                                        <select ng-disabled="policyViewMode" ng-model="policy.currency"
                                                ng-options="coin.index as coin.name for coin in coins"
                                                name="currency" id="currency"
                                                class="form-control">
                                        </select>
                                </div>

                                <div class="form-group col-md-3 form-group-sm">
                                    <label class="control-label">Inicio de Vigencia
                                        <span style="color:red;">*</span></label>
                                    <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                        <div class="input-group">
                                            <input ng-disabled="policyViewMode" ng-init="policy.startDate = newDate(policy.startDate);"
                                                   ng-model="policy.startDate"
                                                   class="form-control"
                                                   ng-change="setEndDate(policy.startDate);"
                                                   placeholder="Elija una fecha"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                        </div>
                                    </datepicker>
                                </div>
                                <div class="form-group col-md-3 form-group-sm">
                                    <label class="control-label" for="branch">Fin de Vigencia<span style="color:red;">*</span></label>
                                    <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                        <div class="input-group">
                                            <input ng-disabled="policyViewMode" ng-init="policy.endDate = nextYearToday(policy.endDate);"
                                                   ng-model="policy.endDate"
                                                   id="policy.endDate"
                                                   class="form-control"
                                                   placeholder="Elija una fecha"/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                        </div>
                                    </datepicker>
                                </div>

                                <div class="form-group form-group-sm col-md-3">
                                    <label class="control-label">Estado</label>
                                    <select ng-disabled="policyViewMode" ng-init="policy.status = initState(policy.status)"
                                            ng-model="policy.status"
                                            ng-options="status.index as status.name for status in statuses"
                                            name="status" id="status"
                                            class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 form-group-sm">
                                    <label class="control-label">Notas</label>
                                    <textarea ng-disabled="policyViewMode"
                                              rows="2" style="resize: none;"
                                              id="bigNote" name="bigNote"
                                              ng-model="policy.bigNote"
                                              placeholder="Escribe algunas notas aqui...!"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-12">
                                    <h2>Lista De Dependientes</h2>
                                    <div id="grid4" ui-grid="dependence_grid" ui-grid-auto-resize class="grid policy-grid"></div>
                                    <div class="col col-sm-2 pull-left" style="padding-top: 10px; padding-left: 0%">
                                        <button type="button" ng-click="addDependentCleaner();"  data-target="#dependenciesModal" data-toggle="modal" class="btn btn-default btn-sm btn-block"><i class="fa fa-plus"></i> Agregar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right" >
                                <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                                <a class="btn btn-default" ng-click="policyViewMode=false"><i class="fa fa-edit"></i> Modificar</a>
                                <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                                <button type="submit" ng-disabled="newClientRegister.$invalid || disablePolicyForm" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/modals/dependenciesModal.html'"></div>

</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
