<!--<script invRegType="text/javascript" src="scripts/app.js"></script>-->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Movimientos / Facturacion</li>
    </ul>
</div>


<div class="row" style="padding-top: 30px">

    <div class="col col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registro de Facturas</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="invReg" >
                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Entrada
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-init="invReg.startDate = newDate(invReg.startDate);"
                                               disabled="disabled"
                                               ng-model="invReg.startDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group clearfix col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Emision
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="invoiceViewMode" ng-init="invReg.endDate = newDate(invReg.endDate);"
                                               ng-model="invReg.endDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                            <div class="form-group col-md-6 form-group-sm">
                                <label class="control-label">Cliente
                                    <span style="color:red;">*</span></label>
                                <angucomplete-alt id="invRegClient"
                                                  placeholder="Nombre de Cliente"
                                                  pause="100"
                                                  selected-object="invReg.client"
                                                  local-data="clientList"
                                                  search-fields="fullName,idCard"
                                                  title-field="fullName"
                                                  disable-input="invoiceViewMode"
                                                  minlength="1"
                                                  input-class="form-control form-control-small">
                                </angucomplete-alt>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Poliza
                                    <span style="color:red;">*</span></label>
                                <select ng-disabled="invoiceViewMode" ng-model="invReg.policy"
                                        ng-options="policy.policyId as policy.policyNumber for policy in updatedLinkedPolicies"
                                        name="invRegType"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Factura
                                    <span style="color:red;"></span></label>
                                <input ng-disabled="invoiceViewMode" id="invReg" name="invReg"
                                       ng-model="invReg.invoiceNumber"
                                       ng-blur="validateInvoiceNumber(invReg.invoiceNumber)"
                                       ng-style="invoiceNumberStyle"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" >
                                <label class="control-label">Tipo de Factura</label>
                                <select ng-disabled="invoiceViewMode" ng-model="invReg.invRegType" ng-options="invRegType.index as invRegType.name for invRegType in invoicesTypes"
                                        name="invRegType" id="invRegType"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm"  show-errors>
                                <label class="control-label" >Prima Total
                                    <span style="color:red;"></span></label>
                                <input ng-disabled="invoiceViewMode" id="totalPrime"
                                       name="totalPrime"
                                       ng-model="invReg.totalPrime"
                                       type="text"
                                       ui-money-mask="2"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Inicio
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="invoiceViewMode" ng-init="invReg.beginningDate = newDate(invReg.beginningDate);"
                                               ng-blur="setDueDate(invReg.beginningDate);"
                                               ng-model="invReg.beginningDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" >
                                <label class="control-label">Fecha de Vencimiento
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="invoiceViewMode"
                                               ng-init="invReg.dueDate = nextYearToday(invReg.dueDate);"
                                               ng-model="invReg.dueDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-6 form-group-sm">
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="invoiceViewMode" rows="1" style="resize: none;" id="notas" name="notas"
                                          ng-model="invReg.notes" placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="pull-right" >
                            <button type="button" ng-disabled="!invoiceViewMode" class="btn btn-default" ng-click="invoiceViewMode=false"><i class="fa fa-edit"></i> Modificar</button>
                            <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button ng-disabled="invReg.$invalid || disableInvoiceForm" ng-click="saveInvoice(invReg);" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-sm-12">
                        <h2>Lista de Facturas</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div style="height: 248px;" ui-grid-infinite-scroll ui-grid="gridOptions_invoice" class="grid pointer"></div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/modals/goodsModal.html'"></div>

</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>

<style type="text/css">
    ._720kb-datepicker-calendar {
        margin-bottom:-50px;!important;
    }
    ._720kb-datepicker-open{
        margin-bottom:-50px;!important;
    }
</style>
