<header class="marquee">
    <div class="container-fluid" id="not-selected">
        <hr><hr>
        <h1 class="marquee-heading">Corredor de Seguros & Promotor De Salud</h1>
        <a class="marquee-img" href="#">
            <img width="100%"  src="partials/images/logo.PNG" alt="">
        </a>
        <hr><hr>
    </div>
</header>



