<!--<script type="text/javascript" src="scripts/app.js"></script>-->
<div class="breadcrumb" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Nuevo Cliente</li>
    </ul>
</div>

<div class="row" style="padding-top: 30px">

    <div class="col col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registro de Clientes</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="newClientRegister" >

                        <div class="row" ng-show="newClient.clientType!='Empresa'">
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientName">Nombre/s
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="clientName" name="clientName"
                                       ng-model="newClient.firstName" type="text" maxlength="30"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Apellido/s
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="clientLastNam" name="clientLastNam"
                                       ng-model="newClient.lastName" type="text" maxlength="30"
                                       class="form-control"/>
                            </div>

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Cedula
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="cedula" name="cedula"
                                       ui-mask="999-9999999-9"
                                       ng-style="clientCardIdStyle"
                                       ng-blur="validateClientCardId(newClient.idCard)"
                                       ng-model="newClient.idCard"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="row" ng-show="newClient.clientType=='Empresa'">
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientName">Nombre Empresa
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="enterprise" name="clientName"
                                       ng-model="newClient.enterprise" type="text" maxlength="30"
                                       class="form-control" />
                            </div>
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Persona Contacto
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="contact" name="clientLastNam"
                                       ng-model="newClient.contactBus" type="text" maxlength="40"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="rnc">RNC
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="rnc" name="rnc"
                                       ui-mask="9-99-99999-9"
                                       ng-model="newClient.rnc"
                                       ng-blur="validateClientCardId(newClient.rnc)"
                                       type="text"
                                       class="form-control" />
                                    Debe ser un numero de 9 digitos</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientName">Direccion
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="clientDir" name="clientDir"
                                       ng-model="newClient.address" type="text"
                                       class="form-control" required="required"/>
                            </div>

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientName">Sector
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="clientViewMode"  id="sector" name="sector"
                                       ng-model="newClient.sector" type="text" maxlength="30"
                                       class="form-control" required="required"/>
                            </div>

                            <div class="form-group col-md-4 form-group-sm" >
                                <label class="control-label">Ciudad</label>
                                <span style="color:red;">*</span>
                                <input ng-disabled="clientViewMode"
                                       ng-model="newClient.city"
                                       type="text"
                                       class="form-control"
                                       required="required"/>
                                <!--<select ng-disabled="clientViewMode"-->
                                        <!--ng-model="newClient.city"-->
                                        <!--ng-options="city.index as city.name for city in cities"-->
                                        <!--name="defaultReceivingBy"-->
                                        <!--id="defaultReceivingBy"-->
                                        <!--class="form-control">-->
                                <!--</select>-->
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Telefono Celular</label>
                                <input ng-disabled="clientViewMode"  id="phone" name="phone" type="text"
                                       ng-model="newClient.phoneNumber1"
                                       ui-mask="(999) 999-9999"
                                       class="form-control"/>
                            </div>

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Telefono</label>
                                <input ng-disabled="clientViewMode"  id="celPhone" name="celPhone"
                                       ng-model="newClient.phoneNumber2"
                                       type="text"
                                       ui-mask="(999) 999-9999"
                                       class="form-control" />
                                <label style="color:red; font-size: 12px;" ng-show = "((newClientRegister.celPhone.$error.minlength ||
                        newClientRegister.celPhone.$error.maxlength)
                        && newClientRegister.celPhone.$dirty)">
                                    Debe ser un numero de 10 digitos</label>
                            </div>

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Telefono Laboral</label>
                                <input ng-disabled="clientViewMode"  id="labPhone" name="labPhone"
                                       ng-model="newClient.phoneNumber3" type="text"
                                       ui-mask="(999) 999-9999 Ext.?9?9?9?9"
                                       class="form-control"/>
                                <label style="color:red; font-size: 12px;" ng-show = "((newClientRegister.labPhone.$error.minlength ||
                        newClientRegister.labPhone.$error.maxlength)
                        && newClientRegister.labPhone.$dirty)">
                                    Debe ser un numero de 10 digitos</label>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Correo Electronico</label>
                                <input ng-disabled="clientViewMode"  id="clientEmail" name="clientEmail"
                                       ng-model="newClient.email" type="email"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="clientName">Contacto</label>
                                <input ng-disabled="clientViewMode"  id="clientContact" name="clientContact"
                                       ng-model="newClient.clientContact" type="text" maxlength="50"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-4 form-group-sm" >
                                <label class="control-label" for="class">Clase</label>
                                <span style="color:red;">*</span>
                                <select ng-disabled="clientViewMode"  ng-required="true" ng-model="newClient.clientType" ng-options="x for x in ['Persona Fisica', 'Empresa']" name="defaultReceivingBy" id="class"
                                        class="form-control">
                                </select>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="form-group col-md-9 form-group-sm" show-errors>
                                <label class="control-label" for="clientLastNam">Notas</label>
                                <textarea ng-disabled="clientViewMode"  rows="1" style="resize: none;" 
                                          id="notas" name="notas"
                                          ng-model="newClient.notes"
                                          class="form-control"/>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" >
                                <label class="control-label" for="class">Estado</label>
                                <span style="color:red;">*</span>
                                <select ng-disabled="clientViewMode"  ng-init="newClient.status = 'Activo'" ng-required="true" ng-model="newClient.status" ng-options="x for x in ['Activo', 'Cancelado']" name="defaultReceivingBy" id="state"
                                        class="form-control">
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="pull-right" >
                            <button type="button" ng-disabled="!clientViewMode" class="btn btn-default" ng-click="clientViewMode=false"><i class="fa fa-edit"></i> Modificar</button>
                            <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button type="submit"ng-click="saveClient(newClient);" ng-disabled="disableClientForm"  class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="col col-sm-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Lista de Clientes</h3>
            </div>
            <div class="panel-body">
                <div><h4 style="text-align: center;">Persona Fisica</h4></div>
                <div id="grid1" ui-grid="gridOptions_person" class="grid pointer"></div>
                <div><h4 style="text-align: center; margin-top: 10px;">Entidad Empresarial</h4></div>
                <div id="grid2" ui-grid="gridOptions_company" style="margin-top: -2px;!important;" class="grid pointer"></div>
            </div>
        </div>

    </div>

</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
