<!--<script type="text/javascript" src="scripts/app.js"></script>-->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Nueva Poliza</li>
    </ul>
</div>

<div class="row" style="padding-top: 30px">

    <div class="col col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registro de Polizas</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="newPolicyForm" ng-submit="savePolicy(policy);" >

                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Cliente
                                    <span style="color:red;">*</span></label>
                                <angucomplete-alt id="clientName"
                                                  placeholder="Nombre de Cliente"
                                                  pause="100"
                                                  selected-object="policy.client"
                                                  local-data="clientList"
                                                  search-fields="fullName,idCard"
                                                  title-field="fullName"
                                                  minlength="2"
                                                  required="required"
                                                  disable-input="policyViewMode"
                                                  ng-required="true"
                                                  input-class="form-control form-control-small">
                                </angucomplete-alt>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="policyNumber">Numero De Poliza</label>
                                <input id="policyNumber" name="policyNumber"
                                       ng-disabled="policyViewMode"
                                       ng-style="policyNumberStyle"
                                       ng-model="policy.policyNumber"
                                       ng-blur="validatePolicyNumber(policy.policyNumber)"
                                       placeholder="Numero De Poliza" class="form-control"/>
                            </div>
                            <div class="form-group form-inline col-md-3 form-group-sm" >
                                <label class="control-label" for="branch">Ramos</label>
                                <span style="color:red;">*</span>
                                <div class="row">
                                    <div style="padding-right: 0px;" class="col-sm-10">
                                        <select ng-disabled="policyViewMode"
                                                ng-model="policy.branch"
                                                ng-options="branch.branchId as branch.branchDescription for branch in branches | filter:shouldShow"
                                                name="branch" id="branch"
                                                class="form-control"
                                                style="width: 100%; !important;">
                                        </select>
                                    </div>
                                    <div style="padding-left: 0px; text-align: center; !important;" class="col-sm-2">
                                        <a  ng-disabled="policyViewMode"
                                            data-target="#addBranchModal"
                                            data-toggle="modal"
                                            ng-click="branch=''"
                                            data-keyboard="false" >
                                            <i style="font-size: 30px; " class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" >
                                <label class="control-label" for="branch">Entidad Aseguradora</label>
                                <span style="color:red;">*</span>
                                <select ng-disabled="policyViewMode"
                                        style="text-transform: uppercase; !important;"
                                        ng-model="policy.policer"
                                        ng-options="policer.id as policer.name for policer in policers"
                                        name="policer" id="policer"
                                        class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <div class="form-group col-md-6 form-group-sm" style="padding-left: 0%;!important;" show-errors>
                                    <label class="control-label" >Prima Total
                                        <span style="color:red;"></span></label>
                                    <input ng-disabled="policyViewMode"
                                           id="primePolicyForm" name="prime"
                                           ui-money-mask="2"
                                           ng-model="policy.prime"
                                           type="text" class="form-control"
                                           ng-required="true"/>
                                </div>

                                <div class="form-group col-md-6 form-group-sm" style="padding-right: 0%;!important;" >
                                    <label class="control-label" for="branch">Moneda</label>
                                    <select ng-disabled="policyViewMode"
                                            ng-model="policy.currency"
                                            ng-options="coin.index as coin.name for coin in coins"
                                            name="currency" id="currency"
                                            class="form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Inicio de Vigencia
                                    <span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="policyViewMode"
                                               ng-init="policy.startDate = newDate(policy.startDate);"
                                               ng-model="policy.startDate"
                                               class="form-control"
                                               ng-change="setEndDate(policy.startDate);"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label" for="branch">Fin de Vigencia<span style="color:red;">*</span></label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="policyViewMode"
                                               ng-init="policy.endDate = nextYearToday(policy.endDate);"
                                               ng-model="policy.endDate"
                                               id="policy.endDate"
                                               class="form-control"
                                               placeholder="Elija una fecha" ng-required="true"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group form-group-sm col-md-3">
                                    <label class="control-label" for="branch">Estado</label>
                                    <select ng-disabled="policyViewMode"
                                            ng-init="policy.status = initState(policy.status)"
                                            ng-model="policy.status" ng-options="status.index as status.name for status in statuses"
                                            name="status" id="status"
                                            class="form-control">
                                    </select>
                            </div>
                        </div>

                        <div class="row" ng-hide="policy.branch == 100000001">
                            <div class="form-group col-md-12 form-group-sm">
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="policyViewMode"
                                          rows="2" style="resize: none;"
                                          id="bigNote" name="bigNote"
                                          ng-model="policy.bigNote"
                                          placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="row" ng-show="policy.branch == 100000001">
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="policyNumber">Tipo de Negocio</label>
                                <input ng-disabled="policyViewMode"
                                       id="businessType" name="businessType"
                                       ng-model="policy.businessType"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="policyNumber">Tipo de Construccion</label>
                                <input ng-disabled="policyViewMode"
                                       id="buildingType" name="buildingType"
                                       ng-model="policy.buildingType"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-6 form-group-sm">
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="policyViewMode"
                                          rows="1" style="resize: none;"
                                          id="notas" name="notas"
                                          ng-model="policy.notes"
                                          placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row" ng-show="policy.branch == 100000001">
                            <div class="col col-sm-12">
                                <div style="height: 200px" ui-grid-auto-resize ui-grid="local_options" class="grid policy-grid"></div>
                                <div class="col col-sm-2 pull-left" style="padding-top: 10px; padding-left: 0%">
                                    <button type="button" ng-click="local = {}; fireGoodsList = []; editGoodFlag = false;"  data-target="#localModal" data-toggle="modal" class="btn btn-default btn-sm btn-block"><i class="fa fa-plus"></i> Agregar</button>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="policy.branch !== 100000001">
                            <div class="col col-sm-6">
                                <h2>Lista De Bienes Asegurados</h2>
                                <div id="grid4" ui-grid="bienes_asegurados" class="grid policy-grid"></div>
                                <div class="col col-sm-2 pull-left" style="padding-top: 10px; padding-left: 0%">
                                    <button type="button" ng-click="addGoodCleaner();"  data-target="#goodsModal" data-toggle="modal" class="btn btn-default btn-sm btn-block"><i class="fa fa-plus"></i> Agregar</button>
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <h2>Cobertura De Bienes Asegurados</h2>
                                <div id="grid3" ui-grid="cob_bienes_asegurados" class="grid policy-grid"></div>
                            </div>
                        </div>

                        <div class="pull-right" >
                            <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                            <button type="button" ng-disabled="!policyViewMode" class="btn btn-default" ng-click="policyViewMode=false"><i class="fa fa-edit"></i> Modificar</button>
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button type="submit" ng-disabled="newClientRegister.$invalid || disablePolicyForm" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/modals/goodsModal.html'"></div>
    <div ng-include="'partials/modals/fireGoodsModal.html'"></div>
    <div ng-include="'partials/modals/addBranchModal.html'"></div>
    <div ng-include="'partials/modals/localModal.html'"></div>

</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
