<!--<script invRegType="text/javascript" src="scripts/app.js"></script>-->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Acount / Manager</li>
    </ul>
</div>


<div class="row" style="padding-top: 30px">

    <div class="col col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{user.firstName}} {{user.lastName}}</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="user" autocomplete="off" >
                        <div class="row">
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" >Nombre
                                    <span style="color:red;"></span></label>
                                <input name="firstName" ng-model="user.firstName"
                                       type="text" class="form-control"
                                       ng-required="true" placeholder="Nombre" />
                            </div>
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" >Apellido
                                    <span style="color:red;"></span></label>
                                <input name="lastName" ng-model="user.lastName"
                                       type="text" class="form-control"
                                       ng-required="true" placeholder="Apellido" />
                            </div>

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" >Nombre de Usuario
                                    <span style="color:red;"></span></label>
                                <input name="lastName" ng-model="user.username"
                                       type="text" class="form-control" ng-disabled="role != '1'"
                                       ng-required="true" placeholder="Nombre de Usuario" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label">Telefono</label>
                                <input id="phone" name="phone"
                                       ng-model="user.phoneNumber"
                                       ui-mask="(999) 999-9999"
                                       type="text"
                                       class="form-control"/>
                                <label style="color:red; font-size: 12px;" ng-show = "((user.phone.$error.minlength ||
                        user.phone.$error.maxlength)
                        && user.phone.$dirty)">
                                    Debe ser un numero de 10 digitos</label>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label">Rol de Usuario</label>
                                <select ng-model="user.role" ng-options="role.index as role.name for role in roles"
                                        name="role" id="role"
                                        class="form-control" ng-disabled="role != '1'">
                                </select>
                            </div>

                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" >Contraseña
                                    <span style="color:red;">*</span></label>
                                <input name="password" ng-model="user.password"
                                       type="password" class="form-control"
                                       ng-required="true" placeholder="Contraseña" />
                            </div>
                        </div>
                        <div class="pull-right" >
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button type="submit" ng-disabled="user.$invalid" ng-click="createNewUser(user);" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
