<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Movimientos / Recibos</li>
    </ul>
</div>


<div class="row" style="padding-top: 30px">

    <div class="col col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Registro de Recibos</h3>
            </div>

            <div class="panel-body">

                <div class="pull-right" style="width: 95%">
                    <form name="receipt" >
                        <div class="row">

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Recibo No.
                                    <span style="color:red;"></span></label>
                                <input ng-disabled="receiptViewMode" name="receipt"
                                       ng-model="receipt.receiptNo"
                                       class="form-control"
                                       ng-style="receiptNumberStyle"
                                       placeholder="Recibo No." />
                            </div>
                            
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Entrada
                                    <span style="color:red;">*</span></label>
                                <datepicker date-typer="true" date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-init="receipt.startDate = newDate(receipt.startDate);"
                                               ng-model="receipt.startDate"
                                               disabled="disabled"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha de Emision
                                    <span style="color:red;">*</span></label>
                                <datepicker date-typer="true" date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="receiptViewMode" date-typer="true" ng-init="receipt.endDate = newDate(receipt.endDate);"
                                               ng-model="receipt.endDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Cliente
                                    <span style="color:red;">*</span></label>
                                <angucomplete-alt id="rClient"
                                                  placeholder="Nombre de Cliente"
                                                  pause="100"
                                                  selected-object="receipt.client"
                                                  local-data="clientList"
                                                  search-fields="fullName,idCard"
                                                  title-field="fullName"
                                                  minlength="1"
                                                  disable-input="receiptViewMode"
                                                  input-class="form-control form-control-small">
                                </angucomplete-alt>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Poliza
                                    <span style="color:red;">*</span></label>
                                <select ng-disabled="receiptViewMode"
                                        ng-model="receipt.policy"
                                        ng-options="policy.policyId as policy.policyNumber for policy in updatedLinkedPolicies"
                                        ng-change="updateInvoiceList(receipt.policy)"
                                        class="form-control" required>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label" >Factura No.<span style="color:red;">*</span></label>
                                <select ng-disabled="receiptViewMode"
                                        ng-model="receipt.invoiceNumber"
                                        required
                                        ng-change="lookForTotalAmount(receipt.invoiceNumber)"
                                        ng-options="invoiceNumber.invoiceId as invoiceNumber.invoiceNumber for invoiceNumber in updatedLinkedInvoiceNumber"
                                        class="form-control">
                                    <option></option>
                                </select>
                            </div>

                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label" >Monto
                                    <span style="color:red;"> ({{invoiceTotalAmount | currency}})</span></label>
                                <input id="amount"
                                       name="amount"
                                       ng-blur="verifyAmount(invoiceTotalAmount, receipt.amount);"
                                       ng-model="receipt.amount"
                                       type="text"
                                       ng-disabled="receiptEditMode || receiptViewMode"
                                       ui-money-mask="2"
                                       ng-required="true"
                                       required="required"
                                       class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-group-sm col-md-3">
                                <label class="control-label" for="payment">Forma de Pago<span style="color:red;">*</span></label>
                                <select ng-disabled="receiptViewMode" ng-model="receipt.payment"
                                        ng-options="payment.index as payment.name for payment in payments"
                                        name="payment" id="payment"
                                        class="form-control" ng-required="true" required >
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group form-group-sm col-md-3">
                                <label class="control-label" for="payment">Tipo de Pago</label>
                                <select ng-disabled="receiptViewMode" ng-model="receipt.paymentType" ng-options="paymentType.index as paymentType.name for paymentType in paymentTypes"
                                        name="paymentType" id="paymentType"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" style="padding-right: 0%;!important;" >
                                <label class="control-label" for="currency">Moneda</label>
                                <select ng-disabled="receiptViewMode" ng-model="receipt.currency" ng-options="coin.index as coin.name for coin in coins"
                                        name="currency" id="currency"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" >Numero Tarjeta</label>
                                <input ng-disabled="receiptViewMode" id="card" name="card" ng-model="receipt.credit"
                                       type="text" class="form-control" placeholder="Numero Tarjeta" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Concepto</label>
                                <textarea ng-disabled="receiptViewMode" rows="2" style="resize: none;" id="concept" name="notas"
                                          ng-model="receipt.concept" placeholder="Concepto"
                                          class="form-control"></textarea>
                            </div>
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="receiptViewMode" rows="2" style="resize: none;"
                                          id="notas" name="notas"
                                          ng-model="receipt.notes"
                                          placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="pull-right" >
                            <button type="button" ng-disabled="!receiptViewMode" class="btn btn-default" ng-click="receiptViewMode=false"><i class="fa fa-edit"></i> Modificar</button>
                            <a ng-click="cleanScreen()" class="btn btn-default"><i class="fa fa-eraser"></i> Limpiar</a>
                            <a href="/#/dashboard" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                            <button type="submit" ng-disabled="receipt.$invalid || disableReceiptForm" ng-click="saveReceipt(receipt);" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-sm-12">
                        <h2>Lista de Recibos</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="gridForReceipt" ui-grid-infinite-scroll ui-grid="gridOptions_receipt" class="grid pointer"></div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/modals/goodsModal.html'"></div>
    <div ng-include="'partials/modals/confirmPasswordModal.html'"></div>

</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="movSpinner"></span>
