
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active">Estados de cuentas</li>
    </ul>
</div>
<div class="page-content" style="margin-top: 50px;">
    <div class="row">
        <div class="col col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <form ng-submit="pdfExport()">
                            <div class="col-md-4">
                                <h2>Lista de Renovaciones</h2>
                            </div>
                            <div class="form-group col-md-2 form-group-sm" >
                                <label class="control-label">Desde</label>
                                <datepicker date-format="dd-MM-yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-model="filter.startDate"
                                               ng-required="true"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                    </div>
                                </datepicker>
                            </div>

                            <div class="form-group col-md-2 form-group-sm" >
                                <label class="control-label">Hasta</label>
                                <datepicker date-format="dd-MM-yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-model="filter.endDate"
                                               ng-required="true"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                    </div>
                                </datepicker>
                            </div>
                            <div class="form-group col-md-2 form-group-sm" >
                                <label class="control-label">Entidad Aseguradora</label>
                                <select style="text-transform: uppercase;" ng-model="filter.enterprise" ng-options="enterprise.id as enterprise.name for enterprise in policers | uppercase"
                                        ng-required="true"
                                        required
                                        name="policer" id="policer"
                                        class="form-control">
                                    <option></option>
                                </select>
                            </div>

                            <div style="padding-top: 8px; text-align: center;" class="col-md-1">
                                <label>Imprimir</label>
                                <button style="background-color: transparent; border: hidden;" type="submit"><i class="fa fa-print fa-2x" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <table id="table"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <!--<button  ng-click="pdfExport()" style="background-color: transparent; border: hidden;" type="submit"><i class="fa fa-print fa-2x" aria-hidden="true"></i></button>-->
                    <!--<button type="button" ng-click="pdfExport()">print</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="appSpinner"></span>
<!-- /.page-content -->