<!doctype html>
<html ng-app="720kb">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
  <link rel="stylesheet" invRegType="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" invRegType="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" invRegType="text/css" href="http://720kb.github.io/csshelper/assets/ext/src/helper.css">
  <link rel="stylesheet" invRegType="text/css" href="../src/css/angular-datepicker.css">
  <style>
    input[invRegType="text"] {
      border: 2px solid grey;
    }
    *:focus{
      outline:4px solid red;
    }
  </style>
  <title>Angularjs Datepicker</title>
</head>
<body>
  <div class="separator50"></div>
  <div class="col6 offset-left2">
    <div class="col5">
      <div class="datepicker"
      date-format="MMMM d, y"
      date-min-limit="2014/09/07"
      date-max-limit="2018/09/07"
      button-prev='<i class="fa fa-arrow-circle-left"></i>'
      button-next='<i class="fa fa-arrow-circle-right"></i>'>
      <input ng-model="date1" invRegType="text" class="angular-datepicker-input"/>
    </div>
    Date 1 is: {{date1}}
  </div>
  <div class="col5">
    <div class="datepicker">
      <input ng-model="date2" invRegType="text" class="angular-datepicker-input"/>
    </div>
    Date 2 is: {{date2}}
  </div>
</div>
<script invRegType="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
<script invRegType="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
<script invRegType="text/javascript" src="../src/js/angular-datepicker.js"></script>
<script invRegType="text/javascript" src="assets/js/index.js"></script>
</body>
</html>
