body{
	padding-top: 51px;
}
#not-selected{
	pointer-events: none;
	/*-moz-user-select: none;*/
	/*-webkit-user-select: none;*/
	/*user-select: none;*/
}

input{
	text-transform: uppercase; !important;
}
._720kb-datepicker-calendar {
	margin-bottom:-50px;!important;
}
._720kb-datepicker-open{
	margin-bottom:-50px;!important;
}

.form-group {
	display: inline-block;!important;
}
/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}
ul{
	list-style: none;
}
a{
	color: #333;
}
a:hover{
	cursor: pointer;
}
ul.simple-post-list .post-image {
	float: left;
	margin-right: 12px;
}
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.callout-box{
	background-color: #546489;
	color: #fff;
	padding: 10px 20px;
}
.body-title{
	border: 1px solid #e3e3e3;
	border-left: 5px solid #234383;
	padding: 0 20px 20px;
}
.featured-box{
	border: 1px solid #e3e3e3;
	border-top: 5px solid #234383;
	padding: 0 20px 20px;
}
.breadcrumbs {
position: relative;
border-bottom: 1px solid #E5E5E5;
background-color: #F5F5F5;
}
.breadcrumb{
	margin-bottom: 0;
}
.cart-btn{
	border-radius:0;
}
.navbar {
	border-radius: 0;
	
/*background: #438EB9;
color: #fff;border: 0;*/

}
/* Removed width:auto from navbar-collapse classs; */
.navbar-collapse {
border-top: 0;
box-shadow: none;
}
.navbar .navbar-brand {
/*color: #FFF;
font-size: 24px;
text-shadow: none;
padding-bottom: 10px;*/
}
.form-group-addon{
	padding-left: -20px;
}

#gridForAccounts{
	height: 290px; !important;
}

.body-wrap {
	min-height: 700px;
}

.body-wrap {
	position: relative;
	z-index: 0;
}

select{
	text-transform: uppercase; !important;
}

textarea{
	text-transform: uppercase; !important;
}
.body-wrap:before,
.body-wrap:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: 260px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 0)));
	background: linear-gradient(to bottom, rgba(26, 49, 95, 1) 0%, rgba(26, 49, 95, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#001a315f', GradientType=0);
}

.body-wrap:after {
	top: auto;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(26, 49, 95, 0) 0%, rgba(26, 49, 95, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001a315f', endColorstr='#1a315f', GradientType=0);
}

#grid1 {
	height: 223px;!important;
}
.gridDash{
	height: 300px;!important;
}

#gridforcompanies{
	height: 513px; !important;
}

.company-attributes{
	height: 200px;
}
#gridForInvoiceDash{
	height: 354px;!important;
}

#gridForDash {
	cursor: pointer; !important;
}:hover .ui-grid-cell {
	 background-color: #CCC;
 }

.policy-grid {
	  cursor: pointer; !important;
  }:hover .ui-grid-cell {
	   background-color: #CCC;
   }
.pointer{
	cursor: pointer; !important;
}:hover .ui-grid-cell {
	 background-color: #CCC;
 }
#gridForDash{
	height: 280px;!important;
}
#gridForReceipt{
	height: 342px;!important;
}
#gridForClaim{
	height: 385px;!important;
}
#grid2 {
	margin-top: 31px;!important;
	height: 223px;!important;
}
nav {
	margin-top: 60px;
	box-shadow: 5px 4px 5px #000;
}

.dropdown-menu>li /* To prevent selection of text */
{   position:relative;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.opaco{
	opacity: 0.5;
	filter: alpha(opacity=100);
	color: #000000;
}
header.marquee {
    color: #000;
    text-align: center;
    padding: 75px 0;
    background-color: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.dropdown-menu .sub-menu
{
	left: 100%;
	position: absolute;
	top: 0;
	display:none;
	margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after,.left-caret:after
{  content:"";
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
	margin-left:5px;
}
.right-caret:after
{   border-left: 5px solid #ffaf46;
}
.left-caret:after
{   border-right: 5px solid #ffaf46;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


										/*ntf*/

/* Put your css in here */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
	display: none !important;
}

ng\:form {
	display: block;
}

.ng-animate-block-transitions {
	transition:0s all!important;
	-webkit-transition:0s all!important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
	display: block!important;
}

/**
 * angular-ui-notification - Angular.js service providing simple notifications using Bootstrap 3 styles with css transitions for animating
 * @author Alex_Crack
 * @version v0.1.0
 * @link https://github.com/alexcrack/angular-ui-notification
 * @license MIT
 */
.ui-notification
{
	position: fixed;
	z-index: 9999;

	width: 300px;

	cursor: pointer;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;

	color: #fff;
	border-radius: 0;
	background: #337ab7;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.ui-notification.killed
{
	-webkit-transition: opacity ease 1s;
	-o-transition: opacity ease 1s;
	transition: opacity ease 1s;

	opacity: 0;
}
.ui-notification > h3
{
	font-size: 14px;
	font-weight: bold;

	display: block;

	margin: 10px 10px 0 10px;
	padding: 0 0 5px 0;

	text-align: left;

	border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.ui-notification a
{
	color: #fff;
}
.ui-notification a:hover
{
	text-decoration: underline;
}
.ui-notification > .message
{
	margin: 10px 10px 10px 10px;
}
.ui-notification.warning
{
	color: #fff;
	background: #f0ad4e;
}
.ui-notification.error
{
	color: #fff;
	background: #d9534f;
}
.ui-notification.success
{
	color: #fff;
	background: #5cb85c;
}
.ui-notification.info
{
	color: #fff;
	background: #5bc0de;
}
.ui-notification:hover
{
	opacity: .7;
}
