<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Gabriel Del Rosario</title><link rel="shortcut icon" href="partials/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="partials/images/favicon.ico" type="image/x-icon">

    <!-- Bootstraps and others styles -->

    <link href="css/toaster.css" rel="stylesheet">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="components/angucomplete-alt/angucomplete-alt.css" type="text/css">
    <link rel="stylesheet" href="components/angular-ui-grid/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="partials/angular-datepicker/src/css/angular-datepicker.css" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="components/angular-ui-notification/dist/angular-ui-notification.min.css">



</head>

<body ng-controller="authCtrl" style="background-color: white;!important; padding-top: 10px; !important;">

<nav id="navBar" class="row navbar navbar-inverse navbar-static-top marginBottom-0"
     style="visibility: hidden; width: 101%; margin-top: -10px;!important;" role="navigation">
    <div class="navbar-header col-sm-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/dashboard">Gabriel del Rosario</a>
    </div>

    <div class="collapse navbar-collapse" style="width: 90%; !important;" id="navbar-collapse-1" >
        <ul class="nav navbar-nav row" style="width: 80%;">
            <!--<li><a href="#">Link</a></li>-->
            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown">Entradas <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/#/client" ng-click="reset();" >Cliente</a></li>
                    <li class="divider"></li>
                    <li><a href="/#/policy" ng-click="reset();">Poliza</a></li>
                    <li class="divider"></li>
                    <li><a href="/#/health" ng-click="reset();">Salud</a></li>
                    <li class="divider"></li>
                    <li class="dropdown dropdown-submenu">
                        <a class="dropdown-toggle" data-toggle="dropdown">Movimientos</a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/receipt">Recibos</a></li>
                            <li><a href="/#/invoice">Facturas</a></li>
                            <li><a href="/#/credit">Creditos</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/#/company" ng-click="reset();" >Compañia</a></li>
                </ul>
            </li>

            <li class="dropdown" style="padding-left: 40px; !important;" >
                <a class="dropdown-toggle" href="/#/claims" data-toggle="dropdown">Reclamaciones</a>
            </li>

            <li class="dropdown" style="padding-left: 40px; !important;" >
                <a  style="font-size: larger; float: right; !important;" ng-click="cleanValue();" class="dropdown-toggle" data-toggle="dropdown">Consultas<b class="caret"></b></a>
                <ul  class="dropdown-menu">
                    <li ><a href="/#/query">Historico</a></li>
                    <li class="divider"></li>
                    <li><a href="/#/current" >Actual</a></li>
                    <li class="divider"></li>
                    <li><a href="/#/renew" >Renovaciones</a></li>

                </ul>
            </li>

            <li class="dropdown" style="padding-left: 40px; !important;" >
                <a class="dropdown-toggle" href="/#/cash" data-toggle="dropdown">Informacion Caja</a>
            </li>

            <li class="dropdown pull-right" >
                <a  style="font-size: larger; float: right; !important;" ng-click="cleanValue();" class="dropdown-toggle" data-toggle="dropdown"> {{username | uppercase}} <b class="caret"></b></a>
                <ul  class="dropdown-menu">
                    <li ><a href="/#/account">Manejar Cuentas</a></li>
                    <li class="divider"></li>
                    <li><a href="/#/profile" >Perfil</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="doLogout();" >salir</a></li>

                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="container" style="margin-top:80px; width: 96%; !important;">
    <div data-ng-view="" id="ng-view" class="slide-animation"></div>  <!-- The others views are loaded to this div tag, help with the ng-view id in bootstrap.min.js -->
</div>
<div ng-include="'partials/modals/loginModal.html'"></div>
<div ng-include="'partials/modals/logoutModal.html'"></div>

</body>
<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
<!-- Libs -->
<script src="components/jspdf/dist/jspdf.min.js"></script>
<script src="components/jspdf-autotable/dist/jspdf.plugin.autotable.js"></script>
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js" ></script>
<script src="js/toaster.js"></script>
<script src="components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
<script src="components/angular-touch/angular-touch.js"></script>


<!--  APP  -->
<script src="app/app.js"></script>
<script src="app/data.js"></script>
<script src="app/directives.js"></script>
<script src="app/filters.js"></script>


<!-- CONTROLLERS -->
<script src="app/authCtrl.js"></script>
<script src="app/appCtrl.js"></script>
<script src="app/cashCtrl.js"></script>
<script src="app/movController.js"></script>
<script src="app/claimController.js"></script>
<script src="app/accountController.js"></script>
<script src="app/companyController.js"></script>
<script src="app/healthController.js"></script>
<script src="app/queryController.js"></script>
<script src="components/angular-spinner/dist/angular-spinner.min.js"></script>


<script type="text/javascript" src="partials/scripts/app.js"></script>

<script src="js/angular-animate.min.js"></script>
<script src="js/csv.js"></script>
<script src="components/pdfmake/build/pdfmake.min.js"></script>
<script src="components/pdfmake/build/vfs_fonts.js"></script>
<script src="components/angular-ui-grid/ui-grid.js"></script>
<script src="app/auth.js"></script>

<script src="components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
<script src="js/select.js"></script>

<script src="components/angular-aria/angular-aria.js"></script>
<script src="components/angularjs-datepicker/src/js/angular-datepicker.js"></script>
<script src="partials/angular-datepicker/src/js/angular-datepicker.js"></script>
<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-skins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-angular.css">

<!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-rtl.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/custom_style.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/demo.min.css">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="assets/js/vendor.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>
<script src="components/angular-ui-mask/dist/mask.min.js"></script>
<script src="components/angular-input-masks/angular-input-masks-standalone.js"></script>
<script src="components/angular-bootstrap-show-errors/src/showErrors.min.js"></script>

<link rel="stylesheet" href="components/glyphicons/styles/glyphicons.css">
<link rel="stylesheet" href="components/bootstrap-table/dist/bootstrap-table.min.css">
<script src="components/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="components/bootstrap-table/dist/extensions/print/bootstrap-table-print.min.js"></script>

<script src="js/bootstrap-table-export.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="components/angular-confirm1/css/angular-confirm.css">
<script src="components/angular-confirm1/js/angular-confirm.js"></script>


<style>
    a {
        color: #4f92ff;
    }
</style>

</html>

