<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | Gabriel Del Rosario</title>
    <link rel="shortcut icon" href="partials/images/favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form name='f' action="login" method="post">
                <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario" required=""
                       autofocus=""/>
                <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>
                <th:block th:if="${#strings.contains(environment, 'PROD')}">
                    <div>
                        <button class="btn btn-info btn-block login" style="background-color: #5BC1FF; !important;"
                                value="submit" name="submit" type="submit">Login
                        </button>
                    </div>
                    <div style="padding-top: 150px;width: 100%;text-align: right;">
                        <label class="label label-success">Version <th:block th:text="${applicationVersion}"></th:block></label>
                    </div>
                </th:block>
                <th:block th:if="${#strings.contains(environment, 'DEV')}">
                    <div>
                        <button class="btn btn-info btn-block login" style="background-color: #ff0f88; !important;"
                                value="submit" name="submit" type="submit">Login
                        </button>
                    </div>
                    <div style="padding-top: 150px;width: 100%;text-align: right;">
                        <label class="label label-danger">Version <th:block th:text="${applicationVersion}"></th:block> (BETA)</label>
                    </div>
                </th:block>
            </form>
        </div>
    </div>
</div>
</body>
</html>


