
<div class="modal fade" id="bankAccountModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="header blue lighter bigger">
                    <i class="fa fa-book" style="font-size: 20px;"></i>
                    Agregar Numero de Cuenta
                </h4>
            </div>
            <div class="modal-body">
                <div class="col col-md-12">
                    <form name="bankAccountCompanyForm" >
                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Numero de Cuenta</label>
                                <input ng-disabled="companyViewMode" id="bankAccountNumber" name="bankAccountNumber"
                                       ng-model="bankAccountCompany.bankAccountNumber"
                                       type="text"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label" >Banco</label>
                                <input ng-disabled="companyViewMode" name="bank"
                                       ng-model="bankAccountCompany.bank"
                                       type="text"
                                       class="form-control"
                                       ng-required="true"
                                       placeholder="Ej. Popular" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" show-errors>
                                <label class="control-label">Sello</label>
                                <select ng-disabled="companyViewMode" ng-model="bankAccountCompany.label"
                                        ng-options="label.index as label.name for label in labels"
                                        name="label" id="label"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="companyViewMode" rows="1"
                                          style="resize: none;"
                                          id="notas" name="notas"
                                          ng-model="bankAccountCompany.notes"
                                          placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer" style="margin-top: 140px; !important;">
                <button type="submit" data-dismiss="modal" ng-click="saveBankAccount(bankAccountCompany);" ng-disabled="bankAccountCompanyForm.$invalid"class="btn btn-default"><i class="fa fa-plus"></i> Agregar</button>
            </div>

        </div>
    </div>
</div>