<div class="modal fade" id="confirmPasswordModal" tabindex="-1">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header padding-10" style="padding: 10px!important;">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    Seguro que desea eliminar?
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12 form-group-sm">
                        <label class="control-label">Contraseña
                            <span style="color:red;"></span></label>
                        <input type="password" id="primePolicyForm" name="prime"
                               ng-model="deletionPassword"
                               class="form-control"/>
                    </div>
                </div>
                <div style="text-align: right">
                    <a id="cancel-deletion" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
                    <a type="button" class="btn btn-danger" ng-click="submitDeletion(deletionPassword)"><i class="fa fa-trash"></i>
                        Eliminar</a>
                </div>
            </div>

        </div>
    </div>
</div>