<div class="modal fade" id="dependenciesModal" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <form name="dependentRegister" ng-submit="saveGood(dependent)" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="header blue lighter bigger">
                        <i class="icon-coffee green"></i>
                        Agregar Dependientes Asegurados
                    </h4>
                </div>
                <div class="modal-body row">
                    <div class="col col-md-12">
                        <div class="row">
                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="filialNum">Cert. | Num. Afiliado</label>
                                <input ng-disabled="policyViewMode" id="filialNum" name="filialNum"
                                       ng-model="dependent.filialNum"
                                       maxlength="40"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="identification">Identificacion</label>
                                <input ng-disabled="policyViewMode" id="identification" name="identification"
                                       ui-mask="999-9999999-9"
                                       ng-model="dependent.identification"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label">Nombre</label>
                                <span style="color:red;">*</span>
                                <input ng-disabled="policyViewMode" id="name" name="name"
                                       ng-model="dependent.name"
                                       ng-required="true"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label">Parentesco</label>
                                <input ng-disabled="policyViewMode" id="parent" name="name"
                                       ng-model="dependent.parent"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                    <label class="control-label" for="age">Sexo</label>
                                    <select ng-disabled="policyViewMode" ng-model="dependent.sex"
                                            ng-options="sex.index as sex.name for sex in sexs"
                                            name="status" id="status"
                                            class="form-control">
                                    </select>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label" for="age">Edad</label>
                                <input ng-disabled="policyViewMode" id="age" name="age" ui-mask="?9?9?9"
                                       ng-model="dependent.age" maxlength="30"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Fecha Nacimiento</label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="policyViewMode" ng-model="dependent.birthDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                            <div class="form-group col-md-3 form-group-sm">
                                <label class="control-label">Inicio de Vigencia</label>
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <div class="input-group">
                                        <input ng-disabled="policyViewMode" ng-model="dependent.startDate"
                                               class="form-control"
                                               placeholder="Elija una fecha"/>
                                        <span class="input-group-addon" style="cursor: pointer">
                                        <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="plan">Plan</label>
                                <input ng-disabled="policyViewMode" id="plan" name="plan"
                                       ng-model="dependent.plan"
                                       maxlength="30"
                                       class="form-control"/>
                            </div>
                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="filialNum">Valor Facturado</label>
                                <input ng-disabled="policyViewMode" id="value" name="value"
                                       ui-money-mask="2"
                                       ng-model="dependent.value"
                                       maxlength="30"
                                       class="form-control"/>
                            </div>
                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="age">Tipo De Plan</label>
                                <input ng-disabled="policyViewMode" id="planType" name="planType"
                                       ng-model="dependent.planType"
                                       maxlength="30"
                                       class="form-control"/>
                            </div>

                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">
                                    Tipo
                                </label>
                                <select ng-disabled="policyViewMode" ng-init="dependent.type = '0'"
                                        ng-model="dependent.type"
                                        ng-options="type.index as type.name for type in types"
                                        name="type" id="type"
                                        class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" id="modalCloser" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="pull-right" >
                        <button ng-click="saveDependent(dependent)" type="button" data-dismiss="modal" ng-disabled="dependentRegister.$invalid" ng-show="editGoodFlag==true" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Actualizar</button>
                        <button  ng-click="saveDependent(dependent)"  type="button" data-dismiss="modal" ng-disabled="dependentRegister.$invalid" ng-show="editGoodFlag!=true" class="btn btn-default"><i class="fa fa-plus"></i> Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>