
<div class="modal fade" id="fireGoodsModal" tabindex="-1" data-focus-on="input:first"  style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="header blue lighter bigger">
                    <i class="fa fa-book" style="font-size: 20px;"></i>
                    Agregar Bienes Asegurados
                </h4>
            </div>
            <div class="modal-body">
                    <form name="fireGoodForm" >
                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Descripcion</label>
                                <input id="description" name="description"
                                       ng-model="fireGood.description"
                                       type="text" ng-required="true"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label" >Suma Asegurada</label>
                                <input name="bank"
                                       ng-model="fireGood.securedSum"
                                       class="form-control"
                                       ng-required="true"
                                       ui-money-mask="2"/>
                            </div>
                        </div>
                    </form>
            </div>

            <div class="modal-footer">
                <button type="submit" data-dismiss="modal" ng-click="saveFireGood(fireGood);" ng-disabled="fireGoodForm.$invalid" class="btn btn-default"><i class="fa fa-plus"></i> Agregar</button>
            </div>

        </div>
    </div>
</div>