<div class="modal fade" id="goodsModal" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <form name="goodsRegister" ng-submit="saveGood(goods)" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="header blue lighter bigger">
                        <i class="icon-coffee green"></i>
                        Bienes Asegurados
                    </h4>
                </div>
                <div class="modal-body row">
                    <div class="col col-md-12">
                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Tipo de Vehiculo</label>
                                <span style="color:red;">*</span>
                                <input ng-disabled="policyViewMode" id="type" name="type"
                                       ng-model="goods.type" type="text" maxlength="30"
                                       class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="brand">Marca del Vehiculo
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="policyViewMode" id="brand" name="clientLastNam"
                                       ng-model="goods.brand" type="text" maxlength="30"
                                       class="form-control" ng-required="true"/>
                            </div>

                            <div class="form-group  col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="model">Modelo</label>
                                <input ng-disabled="policyViewMode" id="model" name="model"
                                       ng-model="goods.model"
                                       type="text" maxlength="30"
                                       class="form-control"/>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="year">Año</label>
                                <input ng-disabled="policyViewMode" id="year" name="year"
                                       ng-model="goods.year" type="number" ng-minlength = "4" ng-maxlength = "4"
                                       class="form-control"/>
                                <label style="color:red; font-size: 12px;" ng-show = "((goodsRegister.year.$error.minlength ||
                            goodsRegister.year.$error.maxlength)
                            && goodsRegister.year.$dirty)">
                                    Debe ser un año valido</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="chassisSerial">Chassis
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="policyViewMode" id="chassisSerial" name="chassisSerial" ng-required="true"
                                       ng-model="goods.chassisSerial" type="text" maxlength="30"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>

                                <label class="control-label" for="chassisSerial">Registro</label>
                                <input ng-disabled="policyViewMode" id="carRegister" name="carRegister"
                                       ng-model="goods.carRegister" type="text" maxlength="30"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="color">Color</label>
                                <input ng-disabled="policyViewMode" id="color" name="color"
                                       ng-model="goods.color" type="text" maxlength="20"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <div class="form-group col-md-6 form-group-sm" style="padding-left: 0%;!important;" show-errors>
                                    <label class="control-label" for="weight">Toneladas</label>
                                    <input ng-disabled="policyViewMode" id="weight" name="weight"
                                           ng-model="goods.weight" type="text"
                                           class="form-control" />
                                </div>

                                <div class="form-group col-md-6 form-group-sm" style="padding-right: 0%;!important;" show-errors>
                                    <label class="control-label" for="cylinder">Cilindraje</label>
                                    <input ng-disabled="policyViewMode" id="cylinder" name="cylinder"
                                           ng-model="goods.cylinder" type="number"
                                           class="form-control" />
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="color">Pasajeros</label>
                                <input ng-disabled="policyViewMode" id="passengerAmount" name="passengerAmount"
                                       ng-model="goods.passengerAmount" type="number" maxlength="20"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="prime">Prima</label>
                                <input ng-disabled="policyViewMode" id="prime" name="prime"
                                       ng-model="goods.prime"
                                       ui-money-mask="2"
                                       type="text"
                                       class="form-control" />
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Servicios</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.services" ng-options="service.index as service.name for service in services"
                                        name="service" id="service"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="covertAmount">Valor Asegurado</label>
                                <input id="covertAmount" name="weight"
                                       ui-money-mask="2"
                                       ng-disabled="goods.careType != '2' || policyViewMode"
                                       ng-model="goods.covertAmount" type="text"
                                       class="form-control" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Cobertura</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.covert" ng-options="covert.index as covert.name for covert in coverts"
                                        name="covert" id="covert"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Asistencia Vial</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.vialCares" ng-options="vialCares.index as vialCares.name for vialCares in includes"
                                        name="vialCares" id="vialCares"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Centro del Automovilista</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.mobilCenter" ng-options="mobilCenter.index as mobilCenter.name for mobilCenter in includes"
                                        name="mobilCenter" id="mobilCenter"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Tipo de Seguro</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.careType" ng-options="careType.index as careType.name for careType in careTypes"
                                        name="careType" id="careType"
                                        ng-change="goods.covertAmount = ''"
                                        class="form-control">
                                </select>
                            </div>

                        </div>

                        <div class="row" ng-show="goods.careType == 2">
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="cylinder">Deducible
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="policyViewMode" id="deducible"
                                       name="deducible" ng-required="goods.careType == 2"
                                       ng-model="goods.deducible" type="text"
                                       ui-money-mask="2"
                                       class="form-control" />
                            </div>
                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Cobertura Daños Propios</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.selfDamage" ng-options="selfDamage.index as selfDamage.name for selfDamage in selfDamages"
                                        name="selfDamage" id="selfDamage"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Aero-Ambulancia</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.airEmergency" ng-options="airEmergency.index as airEmergency.name for airEmergency in includes"
                                        name="airEmergency" id="airEmergency"
                                        class="form-control">
                                </select>
                            </div>

                            <div class="form-group col-md-3 form-group-sm" show-errors>
                                <label class="control-label" for="type">Rent-Car</label>
                                <select ng-disabled="policyViewMode" ng-model="goods.rentCar" ng-options="rentCar.index as rentCar.name for rentCar in includes"
                                        name="rentCar" id="rentCar"
                                        class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12 form-group-sm">
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="policyViewMode"  rows="1" style="resize: none;" id="notas" name="notas"
                                          ng-model="goods.notes" placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>

                        <!--<hr>-->
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" id="modalCloser" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="pull-right" >
                        <button ng-click="saveGood(goods)" type="button" data-dismiss="modal" ng-disabled="goodsRegister.$invalid" ng-show="editGoodFlag==true" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Actualizar</button>
                        <button  ng-click="saveGood(goods)"  type="button" data-dismiss="modal" ng-disabled="goodsRegister.$invalid" ng-show="editGoodFlag!=true" class="btn btn-default"><i class="fa fa-plus"></i> Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>