<div class="modal fade" id="localModal" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <form name="localRegister" ng-submit="saveGood(local)" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="header blue lighter bigger">
                        <i class="icon-coffee green"></i>
                        Local
                    </h4>
                </div>
                <div class="modal-body row">
                    <div class="col col-md-12">
                        <div class="row">
                            <div class="form-group col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="name">Local</label>
                                <span style="color:red;">*</span>
                                <input ng-disabled="policyViewMode" id="name" name="name"
                                       ng-model="local.name"
                                       maxlength="30"
                                       class="form-control"
                                       ng-required="true"/>
                            </div>
                            <div class="form-group  col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="type">Tipo De Local
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="policyViewMode" id="type"
                                       name="type"
                                       ng-model="local.localType"
                                       maxlength="30"
                                       class="form-control"
                                       ng-required="true"/>
                            </div>
                            <div class="form-group  col-md-4 form-group-sm" show-errors>
                                <label class="control-label" for="type">Tipo De Construccion
                                    <span style="color:red;">*</span></label>
                                <input ng-disabled="policyViewMode" id="buildingType"
                                       name="type"
                                       ng-model="local.buildingType"
                                       maxlength="30"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 form-group-sm">
                                <label class="control-label">Direccion</label>
                                <textarea rows="1"
                                          style="resize: none;"
                                          id="address"
                                          name="address"
                                          ng-model="local.address"
                                          class="form-control">
                                </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12">
                                <h2>Lista Bienes Asegurados</h2>
                                <div style="height: 132px" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize ui-grid="fire_goods" class="grid policy-grid"></div>
                                <div class="col col-sm-2 pull-left" style="padding-top: 10px; padding-left: 0%">
                                    <button type="button" ng-click="addNewRow()" class="btn btn-default btn-sm btn-block"><i class="fa fa-plus"></i> Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" id="modalCloser" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="pull-right" >
                        <button type="button" ng-disabled="localRegister.$invalid" ng-show="editGoodFlag==true" class="btn btn-default" data-dismiss="modal" data-target="modal"  ng-click="saveLocal(local)"><i class="fa fa-pencil-square-o"></i> Actualizar</button>
                        <button type="button"  ng-disabled="localRegister.$invalid" ng-show="editGoodFlag!=true" class="btn btn-default" data-dismiss="modal" data-target="modal" ng-click="saveLocal(local)"><i class="fa fa-plus"></i> Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>