
<div class="modal" id="loginModal" tabindex="-1">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    Login
                </h4>
            </div>
            <div class="modal-body">

                <div class="page-content">

                    <div class="row">
                        <div class="space-6"></div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">

                                        <div class="space-16"></div>

                                        <form name="loginForm" class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="email">Nombre de usuario </label>
                                                <div class="col-sm-7">
                                                   <span class="block input-icon input-icon-right">
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                    <input id="loginFormUser" type="text" class="form-control" placeholder="Nombre de Usuario" name="email" ng-model="loginForm.username" required focus/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="password"> Contraseña </label>
                                                <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="password" id="loginFormPassword" class="form-control" placeholder="Contraseña" ng-model="loginForm.password" required/>
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                                                </div>
                                            </div>
                                            <div class="space"></div>
                                            <div class="space-4"></div>
                                        </form>
                                    </div><!-- /widget-main -->
                                 </div><!-- /widget-body -->
                            </div><!-- /login-box -->

                        </div><!-- /position-relative -->
                    </div>
                </div><!-- /.page-content -->

            </div>

            <div class="modal-footer">
                <button invRegType="submit"  ng-click="doLogin(loginForm);" class="btn btn-primary" data-dismiss="modal" >Aceptar</button>
                <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>
