<div class="modal" id="logoutModal" tabindex="-1">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="h2">Seguro que desea salir?</h2>
            </div>
            <div class="modal-footer">
                <button ng-click="doLogout();" class="btn btn-primary" data-dismiss="modal" >Aceptar</button>
                <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>
