
<div class="modal fade" id="phoneModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="header blue lighter bigger">
                    <i class="fa fa-phone-square" style="font-size: 20px;"></i>
                    Agregar Numero de Contacto
                </h4>
            </div>
            <div class="modal-body">
                <div class="col col-md-12">
                    <form name="phoneCompanyForm" >
                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Telefono</label>
                                <input ng-disabled="companyViewMode" id="phoneNumber" name="phoneNumber"
                                       ng-model="phoneCompany.phoneNumber"
                                       type="text"
                                       ui-mask="(999) 999-9999 Ext.?9?9?9?9"
                                       class="form-control"/>
                                <label style="color:red; font-size: 12px;"
                                       ng-show = "((company.phone.$error.minlength
                                                  || company.phone.$error.maxlength)
                                                    && company.phone.$dirty)">
                                    Debe ser un numero de 10 digitos</label>
                            </div>
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label" >Persona o Rama</label>
                                <input ng-disabled="companyViewMode" name="branch"
                                       ng-model="phoneCompany.branch"
                                       type="text"
                                       class="form-control"
                                       ng-required="true"
                                       placeholder="Ej. Grua" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Telefono extra</label>
                                <input ng-disabled="companyViewMode" id="extraInfo" name="extraInfo"
                                       ng-model="phoneCompany.extraInfo"
                                       type="text"
                                       ui-mask="(999) 999-9999 Ext.?9?9?9?9"
                                       class="form-control"/>
                                <label style="color:red; font-size: 12px;"
                                       ng-show = "((company.phone.$error.minlength
                                                  || company.phone.$error.maxlength)
                                                    && company.phone.$dirty)">
                                    Debe ser un numero de 10 digitos</label>
                            </div>

                            <div class="form-group col-md-6 form-group-sm" show-errors>
                                <label class="control-label">Notas</label>
                                <textarea ng-disabled="companyViewMode" rows="1"
                                          style="resize: none;"
                                          id="notes" name="notes"
                                          ng-model="phoneCompany.notes"
                                          placeholder="Escribe algunas notas aqui...!"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer" style="margin-top: 140px; !important;">
                <button type="submit" data-dismiss="modal" ng-click="savePhone(phoneCompany);" ng-disabled="phoneCompanyForm.$invalid"class="btn btn-default"><i class="fa fa-plus"></i> Agregar</button>
            </div>

        </div>
    </div>
</div>